{% extends "layout/base.html" %}
{% block content %}
<div class="container mx-auto w-full mt-12 pl-12 pr-12">
    <div class="block md:flex md:items-center md:justify-between">
        <span class="text-2xl font-bold text-gray-800">Studieretninger</span>
        <div class="flex space-x-4 mt-4 md:mt-0">
            <div class="block">
                <a href="/opret"
                    class="px-5 py-2.5 text-center inline-flex items-center mr-2 mb-2 text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-[#3b5998]/50 font-medium rounded-lg">
                    <i class="fa-solid fa-plus mr-3"></i>
                    Lav en anmeldelse
                </a>
            </div>
        </div>
    </div>
    <div class="w-full grid md:grid-cols-2 mt-10 gap-x-6 gap-y-4">
        {% for review in reviews %}
        <div class="flex items-center border justify-between border-gray-200 bg-gray-50 shadow-sm rounded-lg p-4">
            <div class="flex">
                <img class="w-12 h-12 rounded-full" src="static/avatars/{{ review.user.id }}.png" />
                <div class=" block ml-4">
                    <div class="flex items-center">
                        <a class="font-bold mr-4 text-lg hover:underline" href="/review/{{ review.id }}">{{ review.title
                            }}</a>
                        <div class="flex text-md items-center">
                            <i class="fa-solid fa-star text-yellow-400"></i>
                            <p class="ml-2 text-sm font-medium text-gray-500 dark:text-gray-400">
                                {{ review.rating }} out of 10
                            </p>
                        </div>
                        {% if review.subject %}
                        <span class="bg-red-100 text-red-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded">
                            {{ review.subject }}
                        </span>
                        {% else %}
                        <span class="bg-blue-100 ml-4 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded ">{{
                            review.field_of_study }}</span>
                        {% endif %}
                    </div>
                    <p class="text-gray-600 max-w-md truncate">{{ review.content }}</p>
                </div>
            </div>
            <div class="flex space-x-6 items-center">
                <div class="block items-center text-center">
                    <span class="{% if session.session.id in review.hearts %}text-red-600{% else %}text-gray-400{% endif %}"><i class="fa-solid fa-heart text-red-600"></i></span>
                    <p class="text-gray-600">{{ review.hearts|length }}</p>
                </div>
                <div class="block items-center text-center">
                    <span class="text-gray-400"><i class="fa-solid fa-comments"></i></span>
                    <p class="text-gray-600">{{ review.comments|length }}</p>
                </div>
                <button class="block items-center text-center text-gray-700" id="review-settings-btn"
                    data-dropdown-toggle="review_settings" data-dropdown-placement="right" type="button">
                    <i class="fa-solid fa-gear fa-lg"></i>
                </button>
                <div id="review_settings"
                    class="z-10 hidden bg-gray-50 divide-y divide-gray-200 rounded-lg shadow w-44">
                    <ul class="py-2 text-sm text-gray-700">
                        <li>
                            <a href="edit/{{ review.id }}" class="block px-4 py-2 hover:bg-gray-100">
                                Redigere anmeldelse
                            </a>
                        </li>
                    </ul>
                    <div class="py-2 text-sm text-gray-700">
                        <form action="/delete/{{ review.id }}" method="POST">
                            <button type="submit" class="w-full inline-flex items-center px-4 py-2 hover:bg-gray-100">
                                <i class="fa-solid fa-trash mr-2"></i>
                                Slet opslag
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}